<h1>Training Session</h1>

<%= link_to 'Back to list', admin_training_sessions_path %>

<h2>Data</h2>

<p>Code: <%= @session.code.upcase %></p>
<p>Start time: <%= @session.start_time %></p>
<p>Trainer: <%= @session.trainer_name %></p>

<h2>Joined users</h2>

<ul>
  <% @session.joined_users.each do |user| %>
    <li><%= user.profile.name %></li>
  <% end %>
</ul>

<h2>Registered users</h2>

<ul>
  <% @session.registered_users.each do |user| %>
    <li><%= user.profile.name %></li>
  <% end %>
</ul>
