<h1>Join Training Session</h1>

<p>Current balance: <%= current_user.balance.amount %></p>

<%= form_with url: join_training_sessions_path, method: :patch, data: {turbo: false} do |form| %>
  <section>
    <%= form.label :code %>
    <%= form.text_field :code %>
  </section>
  <section>
    <%= form.submit 'Join' %>
  </section>
<% end %>
