<!DOCTYPE html>
<html>
  <head>
    <title>BarrackAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <section>
        <%= link_to root_path do %>
          <%= image_tag 'logo', class: 'logo' %>
        <% end %>
      </section>
      <section>
        <ol>
          <li><%= link_to 'Profile', profile_path %></li>
          <li><%= button_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ol>
      </section>
    </nav>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
